/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-form-field {
    width: 100%;
    font-size: 16px;
}

.btn-primary {
    padding: 16px;
    color: white;
    border-radius: 04px;
    border: 0px solid;
    background-color: #004fa3;
    font-size: 16px;
    cursor: pointer;
}