.actions-content {
  padding: 40px 240px;
}

.mdc-button {
  background-color: rgb(84, 84, 214) !important;
  color: white !important;
  height: 48px;
  width: 160px;
}

.search-input {
  height: 48px;
  border-radius: 6px;
  width: 600px;
  margin-right: 24px;
  border: 1px solid gray;
}

.mat-mdc-table {
  border-collapse: collapse;
}

.mdc-data-table__content {
  border: 1px solid #ccc !important;
}

th,
td {
  border: 1px solid #ccc;
}

.table {
  margin-top: 60px;
}
